/***************/
/* Style Resets */
/****************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Link Styles */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #e8e9ff;
}

/***************
   Main Styles
****************/

.main-nav {
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 100%;
    background: rgba(169, 169, 169, 0.7);
    padding: 10px;
    position: fixed;
    text-align: center;
    transition: background-color .6s;
    top: 0;
    z-index: 1;
}

.nav {
    color: white;
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.nav ul {
    list-style-type: none;
    width: 200px;
}

.nav-links {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

body {
    margin-top: 60px;
    background: rgba(237, 237, 237, 0.82);
    font-family: 'Raleway', sans-serif;
}

.section1 {
    width: 80%;
    padding: 60px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.section1 p {
    font-size: 20px;
    padding: 20px;

}

.profile-image {
    display: inline-block;
    float: right;
    right: 0;
}

.col {
    width: 30%;
}

/*************************
    Portfolio Section
**************************/

.portfolio {
    padding: 60px;
    text-align: center;
    min-height: 300px;
    background: rgb(217, 249, 250);
}

.portfolio-container {
    width: 80%;
    margin: 0 auto;
}

.portfolio h1 {
    font-weight: 600;
}
.portfolio .col {
    display: inline-block;
    width: 30%;
    di
}
.portfolio .col img {
    width: 100%;
}
/*************************
    Contact Section
**************************/

.contact {
    padding: 60px;
    text-align: center;
    min-height: 300px;
    background: rgb(250, 229, 231);
}

.contact-container {
    margin: 0 auto;
}

.contact > * {
    padding: 10px;
}

.contact h1 {
    font-weight: 600;
}

.info-list {
    padding: 60px;
}

.info-list li {
    padding: 10px;
}

.info {
    font-weight: 600;
}

/*************************
    Footer
**************************/

.footer {
    min-height: 60px;
}

/***************
    Clearfix
***************/

.clearfix {
    content: "";
    display: table;
    clear: both;
}